.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  gap: 20px;
}

.board {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  height: 75dvh;
  width: 400px;
  background-color: lightgray;
}

.task {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  cursor: move;
  margin-bottom: 20px;
}

.board {
  overflow-y: auto;
  height: 70vh;
  transition: 1s;
}
.board::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background: rgb(228, 225, 225);
}
/* Handle */
.board::-webkit-scrollbar-thumb {
  background: blue;
}

.text-center {
  text-align: center;
}

.pending {
  background-color: rgb(185, 168, 168);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.height95 {
  height: 95dvh;
}

.backdrop {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  width: 100%;
}

.modal {
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  width: 40rem;
  border: 2px solid rgb(27, 26, 26);
}

.modal > div {
  display: flex;
  flex-direction: column;
}
.modal > div > input {
  padding: 5px;
  border-radius: 0.375rem;
}

.close {
  display: flex;
  justify-content: end;
  align-items: end;
  cursor: pointer;
}